.card {
    width: 96% !important;
    margin: 32px 2%;
    float: left;
}
.pull-left {
    float: left !important;
  }
  .pull-right {
    float: right !important;
  }
  .logo{
    width: 96%;
    margin: 0 auto;
  }
  .logo img{
    width: 18%;
    margin: 0 auto;
    display: block;
  }