
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.icon {
    padding: 0 14px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  .card {
    width: 25%;
    margin: 32px 2%;
    float:left;
  }
.card img{
  width: 100px !important;
  height: 100px !important;
}
.w100 .card{
  width: 29.3% !important;
}